<!DOCTYPE html>
<html>

<head>
    <title>Buildings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
</head>

<body>
    <header>
        <a href="" class="logo">LOGO</a>
        <nav>
            <ul>
                <li><a href="{{ url_for('main') }}">Главная</a></li>
                <li><a href="{{ url_for('faculties') }}">Институты</a></li>
                <li><a href="{{ url_for('teachers') }}">Преподаватели</a></li>
                <li><a href="{{ url_for('buildings') }}">Адреса</a></li>
                <li><a href="">Инструкция</a></li>
                <li><a href="">{{current_user.username}} &bigtriangledown;</a>
                    <ul>
                        <li><a href="">Профиль</a></li>
                        <li><a href="">Посещения</a></li>
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div style="align-items: center; padding-bottom: 100px;">
        <h1 style="margin-top: 100px; text-align: center;">Учебные корпуса</h1>
        <table border="2" style="width: 535px; margin: 30px auto;">
            <tr>
                <th style="width: 160px;">ID</th>
                <th style="width: 250px;">Название</th>
                <th style="width: 125px;">Аббревиатура</th>
                <th style="width: 1000px;">Адрес</th>
            </tr>
            {% for building in buildings %}
            <tr>
                <td style="width: 160.141px; text-align: center;">{{building.id}}</td>
                <td style="width: 212.859px; text-align: center;">{{building.name}}</td>
                <td style="width: 136px; text-align: center;">{{building.abbr}}</td>
                <td style="width: 300px; text-align: center;">{{building.address}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>