<!DOCTYPE html>
<html>

<head>
    <title>Faculties</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
</head>

<body>
    <header>
        <a class="logo"></a>
        <h1>Подразделения университета</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main') }}">Главная</a></li>
                <li><a href="{{ url_for('faculties') }}">Институты</a></li>
                <li><a href="{{ url_for('teachers') }}">Преподаватели</a></li>
                <li><a href="{{ url_for('buildings') }}">Адреса</a></li>
                <li><a href="">Инструкция</a></li>
                <li><a href="">{{current_user.username}} &bigtriangledown;</a>
                    <ul>
                        <li><a href="">Профиль</a></li>
                        <li><a href="">Посещения</a></li>
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div style="padding: 5% 40% 5% 9%;">
        <div style="background-color: rgba(0, 0, 0, 0);">
            <table
                style="width: 100%; border-collapse: collapse; margin: 0 auto; font-size: 16px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <tr>
                    <th
                        style="width: 10%; border: none; padding: 10px; text-align: center; background-color: #333; color: #fff; text-transform: uppercase; letter-spacing: 2px; font-weight: bold;">
                        ID</th>
                    <th
                        style="width: 35%; border: none; padding: 10px; text-align: left; background-color: #333; color: #fff; text-transform: uppercase; letter-spacing: 2px; font-weight: bold;">
                        Полное название</th>
                    <th
                        style="width: 20%; border: none; padding: 10px; text-align: left; background-color: #333; color: #fff; text-transform: uppercase; letter-spacing: 2px; font-weight: bold;">
                        Аббревиатура</th>
                </tr>
                {% for faculty in faculties %}
                <tr>
                    <td
                        style="width: 10%; border: none; padding: 10px; text-align: center; background-color: #f9f9f918;">
                        {{faculty.id}}</td>
                    <td style="width: 65%; border: none; padding: 10px; text-align: left; background-color: #f9f9f918;">
                        {{faculty.name}}
                    </td>
                    <td style="width: 25%; border: none; padding: 10px; text-align: left; background-color: #f9f9f918;">
                        {{faculty.abbr}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>