<!DOCTYPE html>
<html>

<head>
    <title>Lab manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hello.css')}}" />
</head>

<body>
    <div >
        <a >Добро пожаловать в онлайн планировщик
            учебного процесса в СПБПУ</a>
        <a href="http://localhost:5000/signin" class="button">Войти</a>
        <a href="http://localhost:5000/signup" class="button">Зарегистрироваться</a>
        <button href="http://localhost:5000/signin">Войти</button>
    </div>
</body>

</html>