<!DOCTYPE html>
<html>

<head>
    <title>Manager - Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
</head>

<body>
    <header>
        <a class="logo"></a>
        <h1>Руководство по использованию сайта</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('instruction') }}">Инструкция</a></li>
                <li><a href="{{ url_for('signin') }}">Вход</a></li>
                <li><a href="{{ url_for('signup') }}">Регистрация</a></li>
            </ul>
        </nav>
    </header>
    <div style="padding: 5% 5% 5% 5%;">
        <div class="instruction">
            <h3>
                Добро пожаловать на наш сайт! В этом руководстве вы найдете информацию о том, как использовать наш
                сервис.
            </h3>
            <h2>Регистрация:</h2>
            <p>
                Чтобы зарегистрироваться, вам необходимо указать действующую электронную почту, уникальное имя
                пользователя и
                надежный
                пароль, состоящий не менее чем из 8 символов. Пароль необходимо ввести дважды для подтверждения.
            </p>
            <h2>Вход:</h2>
            <p>
                Мы предлагаем двухфакторную аутентификацию для обеспечения безопасности вашего аккаунта. Вы будете
                проходить
                двухфакторную аутентификацию при входе с нового устройства или если прошло больше часа с предыдущего
                входа.
                Если вам не нужно проходить двухфакторную аутентификацию, вы можете получить доступ к сайту, введя имя
                пользователя и пароль.
            </p>
            <h2>Контроль сессий:</h2>
            <p>
                У нас реализован контроль сессий, который позволяет вам отслеживать активность вашего аккаунта. Чтобы
                получить доступ к контролю сессий, наведите курсор мыши на имя пользователя в правом верхнем углу экрана
                и
                нажмите на "Контроль сессий". В этом разделе вы сможете узнать, с каких устройств производился вход в
                ваш
                аккаунт и в какое время.
            </p>
            <p>
                Если вам потребуется, вы сможете завершить сессию на определенном устройстве или завершить все активные
                сессии, включая текущую. После завершения сессий будет необходима повторная двухфакторная
                аутентификация.
            </p>
            <h3>
                Мы надеемся, что это руководство поможет вам использовать наш сайт с легкостью. Если у вас возникнут
                вопросы
                или проблемы, пишите на почту sudakov.di@edu.spbstu.ru. Приятного пользования!
            </h3>
        </div>
    </div>
</body>

</html>