<!DOCTYPE html>
<html>

<head>
  <title>Manager - Главная</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
</head>

<body>
  <header>
    <a href="#" class="logo">LOGO</a>
    <nav>
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Институты</a></li>
        <li><a href="#">Преподаватели</a></li>
        <li><a href="#">Адреса</a></li>
        <li><a href="#">Инструкция</a></li>
        <li><a href="#">{{current_user.username}} &bigtriangledown;</a>
          <ul>
            <li><a href="#">Профиль</a></li>
            <li><a href="#">Посещения</a></li>
            <li><a href="{{ url_for('logout') }}">Выйти</a></li>
          </ul>
        </li>
      </ul>
    </nav>





  <!-- </header>
  <div class="center_small">
    <a>Вы авторизовались как пользователь: {{current_user.username}}</a>
  </div>
  <div class="center_small">
    <a href="{{ url_for('logout') }}">Выйти</a>
  </div>
  <div class="center">
    <button onclick="window.location.href='{{teachers_url}}'">Перейти на страницу со списком преподавателей</button>
  </div>
  <div class="center">
    <button onclick="window.location.href='{{faculties_url}}'">Перейти на страницу со списком институтов</button>
  </div>
  <div class="center">
    <button onclick="window.location.href='{{buildings_url}}'">Перейти на страницу с адресами учебных корпусов</button>
  </div> -->
</body>

</html>