
<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
  </head>
  <body>
    <h2>Registration</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST">
      {{ form.csrf_token }}
      <p>
        {{ form.username.label }}<br>
        {{ form.username() }}
        {% for error in form.username.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br>
        {{ form.password() }}
        {% for error in form.password.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
      <p>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password() }}
        {% for error in form.confirm_password.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
      <p>
        {{ form.submit() }}
      </p>
    </form>
  </body>
</html>