<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='signin.css')}}" />
</head>

<body>
  <header>
    <a class="logo"></a>
    <nav>
      <ul>
        <li><a href="{{ url_for('instruction') }}">Инструкция</a></li>
        <li><a href="{{ url_for('signin') }}">Вход</a></li>
        <li><a href="{{ url_for('signup') }}">Регистрация</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <form method="POST">
      {{ form.csrf_token }}
      <h2>Вход в систему</h2>
      <p>
        {{ form.username(class = "login_username") }}
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password(class = "login_password") }}
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
      <div class="button">
        <p>{{ form.submit(class = "button") }}</p>
      </div>
      <div>
        <p>
          <span style="color: #da4242;">{{ message }}</span><br>Нет аккаунта?
          <a href="{{ url_for('signup') }}">Зарегистрируйся!</a>
        </p>
      </div>
    </form>
  </div>
</body>

</html>