<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='signup.css')}}" />
</head>

<body>
  <div class="container">
    <form method="POST">
      <div>
        <h2>Регистрация</h2>
      </div>
      {{ form.csrf_token }}
      <p>
        {{ form.username(class = "login_username") }}
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password(class = "login_password") }}
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
      <p>
        {{ form.confirm_password(class = "confirm_password") }}
        {% for error in form.confirm_password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
      <div>
        {{ form.submit(class = "button") }}
      </div>
      <p style="color: red;">
        {{ not_unique }}
      </p>
      <p style="color: green;">
        {{ success }}
      </p>
    </form>
  </div>
</body>

</html>