<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='signin.css')}}" />
</head>

<body>
  <div class="container">
    <form method="POST">
      {{ form.csrf_token }}
      <h2>Вход</h2>
      <p>
        {{ form.username(class = "login_username") }}
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password(class = "login_password") }}
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
      <div class="button">
        <p>{{ form.submit(class = "button") }}</p>
      </div>
      <div>
        <p> <p1 style="color: rgb(218, 66, 66);"> {{ message }} <br> </p1> Нет аккаунта? <a href="{{ url_for('signup') }}">Зарегистрируйся</a>!</p>
      </div>
      </form>
  </div>
</body>
</html>