<!DOCTYPE html>
<html>
<head>
    <title>Список преподавателей</title>
    <style>   
    
    .center_small {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3vh;
      }
      
    </style>

</head>
<body>
    <div class="center_small">
        <a>Вы авторизовались как пользователь: {{current_user.username}}</a>
    </div>
    <div class="center_small">
        <a href="{{ url_for('logout') }}">Выйти</a>
    </div>
    <h1>Список преподавателей</h1>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Кафедра</th>
        </tr>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.full_name }}</td>
            <td>{{ teacher.chair }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>