<!DOCTYPE html>
<html>

<head>
    <title>Список преподавателей</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
</head>

<body>
    <header>
        <a href="" class="logo">LOGO</a>
        <nav>
            <ul>
                <li><a href="{{ url_for('main') }}">Главная</a></li>
                <li><a href="{{ url_for('faculties') }}">Институты</a></li>
                <li><a href="{{ url_for('teachers') }}">Преподаватели</a></li>
                <li><a href="{{ url_for('buildings') }}">Адреса</a></li>
                <li><a href="">Инструкция</a></li>
                <li><a href="">{{current_user.username}} &bigtriangledown;</a>
                    <ul>
                        <li><a href="">Профиль</a></li>
                        <li><a href="">Посещения</a></li>
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div style="align-items: center;  padding-bottom: 100px;">
        <h1 style="margin-top: 100px; text-align: center;">Список преподавателей</h1>
        <table border="2" style="margin: 30px auto;">
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Кафедра</th>
            </tr>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.full_name }}</td>
                <td>{{ teacher.chair }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>