<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='verify.css')}}" />
</head>

<body>
  <header>
    <a class="logo"></a>
    <nav>
      <ul>
        <li><a href="{{ url_for('instruction') }}">Инструкция</a></li>
        <li><a href="{{ url_for('signin') }}">Вход</a></li>
        <li><a href="{{ url_for('signup') }}">Регистрация</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <form method="POST">
      {{ form.csrf_token }}
      <h2>Вход</h2>
      <p>
        {{ form.verification_code(class = "verify_code") }}
        {% for error in form.verification_code.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
      <div class="button">
        <p>{{ form.submit(class = "button") }}</p>
      </div>
      <div>
        <p>
          <span style="color: #759d77ec;">{{ notice }}</span>
          <span style="color: #da4242;">{{ message }}</span>
        </p>
      </div>
    </form>
  </div>
</body>

</html>