<!DOCTYPE html>
<html>

<head>
    <title>Manager - Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
</head>

<body>
    <header>
        <a class="logo"></a>
        <nav>
            <ul>
                <li><a href="{{ url_for('main') }}">Главная</a></li>
                <li><a href="{{ url_for('faculties') }}">Институты</a></li>
                <li><a href="{{ url_for('teachers') }}">Преподаватели</a></li>
                <li><a href="{{ url_for('buildings') }}">Адреса</a></li>
                <li><a href="{{ url_for('instruction') }}">Инструкция</a></li>
                <li><a>{{current_user.username}} &bigtriangledown;</a>
                    <ul>
                        <li><a href="">Профиль</a></li>
                        <li><a href="{{ url_for('sessions') }}">Контроль сессий</a></li>
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div style="padding: 5% 5% 5% 5%;">
        <div class="instruction">
            <h3>
                Добро пожаловать на наш сайт! В этом руководстве вы найдете информацию о том, как использовать наш
                сервис.
            </h3>
            <h2>Регистрация:</h2>
            <p>
                Чтобы зарегистрироваться, вам необходимо указать действующую электронную почту, уникальное имя
                пользователя и
                надежный
                пароль, состоящий не менее чем из 8 символов. Пароль необходимо ввести дважды для подтверждения.
            </p>
            <h2>Вход:</h2>
            <p>
                Мы предлагаем двухфакторную аутентификацию для обеспечения безопасности вашего аккаунта. Вы будете
                проходить
                двухфакторную аутентификацию при входе с нового устройства или если прошло больше часа с предыдущего
                входа.
                Если вам не нужно проходить двухфакторную аутентификацию, вы можете получить доступ к сайту, введя имя
                пользователя и пароль.
            </p>
            <h2>Контроль сессий:</h2>
            <p>
                У нас реализован контроль сессий, который позволяет вам отслеживать активность вашего аккаунта. Чтобы
                получить доступ к контролю сессий, наведите курсор мыши на имя пользователя в правом верхнем углу экрана
                и
                нажмите на "Контроль сессий". В этом разделе вы сможете узнать, с каких устройств производился вход в
                ваш
                аккаунт и в какое время.
            </p>
            <p>
                Если вам потребуется, вы сможете завершить сессию на определенном устройстве или завершить все активные
                сессии, включая текущую. После завершения сессий будет необходима повторная двухфакторная
                аутентификация.
            </p>
            <h2>Создание планов:</h2>
            <p>
                После аутентификации пользователь имеет возможность работать с планами. При создании плана пользователь
                выбриает свои институт и группу из всех существующих в СПбПУ, далее
                указывает название плана. Автоматически перед пользователем появляются все текущие предметы из
                расписания. Пользователь может
                выбирать нужные ему предметы, давать названия дедлайнам (например: курсовая, лаботраторная и тп),
                указывать даты крайних сроков
                выполнения работ. Пользователь может иметь множество планов, а также включать и отключать уведомления
                для них, которые
                отправляет телеграм-бот.
            </p>
            <h2>Пользование телеграм-ботом:</h2>
            <p>
                Ссылка на бота предоставляется на главной странице сайта.
                Для начала взаимодействия с ботом нужно нажать на кнопку start.
                Далее бот попросит пройти аутентификацию с использованием почты, которую пользователь указал при
                регистрации на сайте. Если у пользователя нет учетной записи, то бот попросит ее создать.
                Бот отправляет одноразовый код на почту для аутентификации пользоватля. Данный код нужно отправить боту
                в ответном сообщении. После успешной аутентификации пользователю будет доступен основной интерфейс бота.
                Функционал бота заключается в том, чтобы отправлять уведомления о предстоящих дедлайнах работ, которые
                пользователь добавил в свои планы. В оповещения включается список работ, крайний срок выполнения которых
                истекает менее, чем через 48 часов.
                Помимо ежедневного уведомления, также есть возможность запросить у бота список пяти своих ближайших
                деделайнов, а также подробный список всех своих планов и содержащихся в них дедлайнов.
            </p>
            <h3>
                Мы надеемся, что это руководство поможет вам использовать наш сайт с легкостью. Если у вас возникнут
                вопросы
                или проблемы, пишите на почту sudakov.di@edu.spbstu.ru. Приятного пользования!
            </h3>
        </div>
    </div>
</body>

</html>